<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:mbgit="http://typo3.org/ns/MatteoBonaker/MbGit/ViewHelpers">
<body>

<f:layout name="Default" />

<f:section name="headline">
	<h1>{headline}</h1>
</f:section>

<f:section name="content">

	<f:if condition="{gitLog.commits -> f:count()}">
		<f:then>
			<canvas id="gitGraph"
			        data-log="{mbgit:array()
							        -> v:iterator.push(key: 'commits', add: '{mbgit:array(array: {
							        	hash: commit.hash,
							        	parentHashes: commit.parentHashes,
							        	author: {
							        		name: commit.authorName,
							        		email: commit.authorEmail,
							        		date: commit.authorDate
							        	},
							        	committer: {
							        		name: commit.committerName,
							        		email: commit.committerEmail,
							        		date: commit.committerDate
							        	},
							        	message: commit.message,
							        	bodyMessage: commit.bodyMessage
							        }) -> mbgit:arrayMap(traversable: gitLog.commits, as: \'commit\')}')
							        -> v:iterator.push(key: 'branches', add: '{mbgit:array(array: {
							        	commitHash: branch.commitHash,
							        	fullname: branch.fullname,
							        	name: branch.name
							        }) -> mbgit:arrayMap(traversable: gitReferences.branches, as: \'branch\')}')
							        -> v:iterator.push(key: 'tags', add: '{mbgit:array(array: {
							        	commitHash: tag.commitHash,
							        	fullname: tag.fullname,
							        	name: tag.name
							        }) -> mbgit:arrayMap(traversable: gitReferences.tags, as: \'tag\')}')
							        -> v:format.json.encode() -> f:format.htmlspecialchars()}" style="margin: 0 0 0 0;"></canvas>
			<div class="table-fit">
				<table class="table table-striped table-hover" id="typo3-filelist">
					<thead>
					<tr>
						<th>
							<!-- TODO Translate -->
							Tree
						</th>
						<th>
							<!-- TODO Translate -->
							Hash
						</th>
						<th>
							<!-- TODO Translate -->
							Date
						</th>
						<th>
							<!-- TODO Translate -->
							Commit author
						</th>
						<th>
							<!-- TODO Translate -->
							Message
						</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{gitLog.commits}" as="commit" iteration="iter">
						<tr>
							<td>
								{commit.shortHash}…
							</td>
							<td>
								<!-- TODO Translate the format -->
								<f:format.date format="Y-m-d H:i">{commit.authorDate}</f:format.date>
							</td>
							<td>
								{commit.authorName} &lt;{commit.authorEmail}&gt;
							</td>
							<td>
								{commit.message}
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</div>
		</f:then>
		<f:else>
			<!-- TODO Translate -->
			No commits yet.
		</f:else>
	</f:if>

</f:section>

</body>

</html>
